/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(225, 224, 224);
}

:root {
    --loader-background-color: #EEEEEE;
    --loader-highlight-color: #DEDEDE;
    --color-white: #fff;
    --color-whisper: #eaeaea;
    --color-seashell: #FFF5EE;
    --color-yellow: #FFFF00;
    --color-red: #FF0000;
    --color-black: #000000;
    --color-blue: #3393ff;
    --color-gray: #7f8c8d
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
